body {
	font: 'Raleway', sans-serif;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
	background: linear-gradient(to right, #c31432 , #240b36);
}

h1 {
    font: 600 3.5em 'Comic Sans MS', sans-serif;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}

h3 {
	font: 900 1em 'Comic Sans MS', sans-serif;
    color: #FFFFFF;
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;

}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}


